html, body {
    background-color: #171E26;
}

::-webkit-scrollbar-track {
    background-color: #1C2733;
}

::-webkit-scrollbar-thumb {
    background-color: #2A4766;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #39628E;
}

#input-container {
    background-color: #212D3A;
}

#input-container textarea {
    color: white;
    border-bottom: 1px solid #3C556E;
    background-color: inherit;
}

#input-container textarea:focus {
    border-bottom: 1px solid #507191;
}

#input-container div {
    background-color: #2C3E50;
}

.chat-item.highlight {
    color: #F4F9FF;
    background-color: #263341;
}

.chat-item .nickname {
    color: #869DB5;
}

.chat-item .message {
    color: #AFC8E0;
}

.chat-item.me .nickname {
    color: #DCF1FF;
}

.chat-item.me .message {
    color: #F4F9FF;
}

.chat-item .message a {
    color: #2980B9;
}

.chat-item .message a:hover {
    color: #3498DB;
}