html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'NanumBrunGothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-corner {
    display: none;
}

input[type=text], input[type=password], button, input[type=button], input[type=reset], input[type=submit], textarea {
    -webkit-appearance: none;
    -webkit-text-size-adjust: none;
    border-radius: 0;
    font-family: inherit;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: #212D3A;
}

#input-container textarea {
    flex: 1;
    width: 100%;
    height: 1.2rem;
    font-size: 0.8em;
    resize: none;
    border: none;
    margin: 0 1rem;
}

#input-container textarea:focus {
    outline: none !important;
}

#input-container div {
    flex: none;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-image {
    margin: 0 auto;
    border: none;
    background: none;
    opacity: 0.7;
    outline: none !important;
    cursor: pointer;
}

#upload-image:hover {
    opacity: 1;
}

#upload-image img {
    width: 1.5rem;
    height: 1.5rem;
}

#chat-container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*.chat-item avatar {

}*/

.chat-item {
    margin: 0.5rem 0.5rem;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
}

.chat-item .profile-picture {
    flex: none;
    width: 1rem;
    height: 1rem;
    background-size: cover;
    border-radius: 1rem;
    margin-left: -1rem;
    transition: all .2s ease-out;
}

.chat-item:hover .profile-picture {
    transform: translateX(1rem);
}

.chat-item .nickname {
    flex: none;
    width: 6.5rem;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
}

.chat-item .nickname span {
    margin: 0;
}

.chat-item .nickname:hover span {
    display: none;
}

.chat-item .nickname:hover::after {
    content: attr(user-id);
    text-decoration: underline;
    opacity: 0.8;
}

.chat-item .colon {
    opacity: 0;
}

.chat-item .message {
    flex: 1;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.chat-item .thumbnail, .chat-item .sticker {
    margin: 1.5em 1em;
    transition: all .2s ease-out;
}

.chat-item .thumbnail:hover {
    transform: translateY(-0.3em);
}

.chat-item.same-sender {
    margin-top: -0.5rem;
}

.chat-item.me.same-sender {
    margin-top: -0.5rem;
}

.chat-item.same-sender .nickname {
    visibility: hidden;
}

.chat-item.same-sender .profile-picture {
    visibility: hidden;
}

.chat-item.same-sender:hover .nickname {
    visibility: visible;
    opacity: 0.5;
}

.chat-item.same-sender:hover .profile-picture {
    visibility: visible;
    opacity: 0.5;
}

.chat-item .message a {
    text-decoration: none;
}

.chat-item .notification {
    text-align: center;
    width: 100%;
    height: 100%;
}