html, body {
    background-color: #ECF0F1;
}

::-webkit-scrollbar-track {
    background-color: #E6EAEB;
}

::-webkit-scrollbar-thumb {
    background-color: #D4D8D9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #B9BCBD;
}

#input-container {
    background-color: #212D3A;
}

#input-container textarea {
    color: white;
    border-bottom: 1px solid #3C556E;
    background-color: inherit;
}

#input-container textarea:focus {
    border-bottom: 1px solid #507191;
}

#input-container div {
    background-color: #2C3E50;
}

.chat-item.highlight {
    background-color: #FAFEFF;
}

.chat-item .nickname {
    color: #34495C;
}

.chat-item .message {
    color: #111;
}

.chat-item.me .nickname {
    color: #3498DB;
}

.chat-item.me .message {
    color: #0F74B8;
}

.chat-item .message a {
    color: #2980B9;
}

.chat-item .message a:hover {
    color: #3498DB;
}